<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="  
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd  
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
       http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.0.xsd
	   http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
	   http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd"
	default-autowire="byType">

	<context:annotation-config />
	<context:component-scan base-package="net.pvp.portal" />

	<bean id="dsPVP" class="com.mchange.v2.c3p0.DataSources"
		factory-method="pooledDataSource">
		<constructor-arg>
			<jee:jndi-lookup jndi-name="java:comp/env/jdbc/pvp" />
		</constructor-arg>
	</bean>

	<bean
		class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />

	<bean
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="annotatedPackages">
			<list>
				<value>net.pvp.portal.dao</value>
			</list>
		</property>
	</bean>

	<bean id="emf"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
				<property name="showSql" value="true"></property>
				<property name="generateDdl" value="true"></property>
				<property name="database" value="MYSQL"></property>
			</bean>
		</property>
		<property name="dataSource" ref="dsPVP" />
		<property name="packagesToScan">
			<list>
				<value>net.pvp.portal.service</value>
			</list>
		</property>
	</bean>




</beans>  
